* {
    font-family: inter;
}

.active {
    font-weight: 600;
}

.contain {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.aktif {
    background-color: green;
}

.nonaktif {
    background-color: red;
}
