* {
    font-family: inter;
}

.active {
    font-weight: 600;
}

.contain {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.aktif {
    background-color: green;
}

.nonaktif {
    background-color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination .page-item {
    list-style: none;
    margin: 0 0.5rem;
}

.pagination .page-link {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.pagination .page-item.active .page-link {
    background-color: #0D6EFD;
    color: white;
    border: 1px solid #0D6EFD;
}

.cke {
    width: 100% !important;
}

.pagination a.active {
    color: white;
}